<a href="https://colab.research.google.com/github/SrishtiTyagii/coursework/blob/main/data_cleaning_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import numpy as np
import pandas as pd

# Generating sample data
np.random.seed(0)

# Creating lists of sample names and IDs
first_names = ['Alice', 'Bob', 'Carla', 'Dave', 'Eve', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack']
last_names = ['Smith', 'Jones', 'Neil', 'Baker', 'Davis', 'Miller', 'Johnson', 'Williams', 'Brown', 'Wilson']

# Randomly generating data
data = pd.DataFrame({
    'FirstName': np.random.choice(first_names + ['', '!', '123', '...'], size=1000),
    'LastName': np.random.choice(last_names + ['', '!', '123', '...'], size=1000),
    'EmployeeID': np.random.choice([str(i) for i in range(200, 300)] + [' ', 'abc', '9999'], size=1000)
})

print(data.head(1000))

    FirstName LastName EmployeeID
0         123                 267
1       Frank    Jones        261
2       Alice    Baker        254
3        Dave      123        236
4           !  Johnson        284
..        ...      ...        ...
995      Dave   Wilson        230
996       Eve    Baker        213
997     Frank    Jones        292
998       123        !        246
999       123    Smith        214

[1000 rows x 3 columns]

In [30]:
# Creating a data summary method for reusability
def DataSummary(data, i=None):
    try:
        if i is None:
            i = 5
        elif not isinstance(i, int) or i < 0:
            # i is defaulted to '5' in the event of error input
            error = "The argument 'i' must be a non-negative integer.\ni was defaulted to 5."
            print(error)
            i = 5
            # For readability
            print()

        # For readability
        print("*" * 50)

        # The .head() function
        print(data.head(i))

        # For readability
        print("*" * 50)

        # The .describe() function
        print(data.describe(include='all'))

        # For readability
        print("*" * 50)

        # The .info() function
        print(data.info())

        # For readability
        print("*" * 50)

        # The datatypes in the dataframe
        print(f"The datatypes in the dataframe:\n{data.dtypes}")

    except Exception as e:
        print(f"An error occurred: {e}")

# Getting the summary with i=100 to view all data
DataSummary(data, i=1000)

**************************************************
    FirstName LastName EmployeeID
0         123                 267
1       Frank    Jones        261
2       Alice    Baker        254
3        Dave      123        236
4           !  Johnson        284
..        ...      ...        ...
995      Dave   Wilson        230
996       Eve    Baker        213
997     Frank    Jones        292
998       123        !        246
999       123    Smith        214

[1000 rows x 3 columns]
**************************************************
       FirstName LastName EmployeeID
count       1000     1000       1000
unique        14       14        103
top         Dave    Jones        211
freq          94       86         18
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FirstName   1000 non-null   object
 1   LastName    1000 non-null   object
 2   EmployeeID  1000 non-null   object
dtypes: object(3)
memory usage: 23.6+ KB
None
**************************************************
The datatypes in the dataframe:
FirstName     object
LastName      object
EmployeeID    object
dtype: object

In [31]:
# Removing punctuation and whitespace
data['FirstName'] = data['FirstName'].str.strip().replace(r'[^\w\s]', '', regex=True)
data['LastName'] = data['LastName'].str.strip().replace(r'[^\w\s]', '', regex=True)

In [32]:
# Replacing missing values with 'Unknown'
data['FirstName'] = data['FirstName'].replace('', 'Unknown')
data['LastName'] = data['LastName'].replace('', 'Unknown')

In [33]:
# Converting EmployeeID to numeric, setting errors='coerce' will replace non-convertible values with NaN
data['EmployeeID'] = pd.to_numeric(data['EmployeeID'], errors='coerce')

# Fill NaN values in EmployeeID with the median value
median_id = data['EmployeeID'].median()
data['EmployeeID'] = data['EmployeeID'].fillna(median_id)

In [34]:
# Checking my work
DataSummary(data, i=1000)

**************************************************
    FirstName LastName  EmployeeID
0         123  Unknown       267.0
1       Frank    Jones       261.0
2       Alice    Baker       254.0
3        Dave      123       236.0
4     Unknown  Johnson       284.0
..        ...      ...         ...
995      Dave   Wilson       230.0
996       Eve    Baker       213.0
997     Frank    Jones       292.0
998       123  Unknown       246.0
999       123    Smith       214.0

[1000 rows x 3 columns]
**************************************************
       FirstName LastName   EmployeeID
count       1000     1000  1000.000000
unique        12       12          NaN
top      Unknown  Unknown          NaN
freq         202      209          NaN
mean         NaN      NaN   336.320000
std          NaN      NaN   921.730886
min          NaN      NaN   200.000000
25%          NaN      NaN   224.000000
50%          NaN      NaN   249.000000
75%          NaN      NaN   273.000000
max          NaN      NaN  9999.000000
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FirstName   1000 non-null   object
 1   LastName    1000 non-null   object
 2   EmployeeID  1000 non-null   float64
dtypes: float64(1), object(2)
memory usage: 23.6+ KB
None
**************************************************
The datatypes in the dataframe:
FirstName      object
LastName       object
EmployeeID    float64
dtype: object

In [37]:
# Converting FirstName and LastName to category
data['FirstName'] = data['FirstName'].astype('category')
data['LastName'] = data['LastName'].astype('category')

# Final summary to check data types
DataSummary(data, 11)

**************************************************
   FirstName  LastName  EmployeeID
0        123   Unknown       267.0
1      Frank     Jones       261.0
2      Alice     Baker       254.0
3       Dave       123       236.0
4    Unknown   Johnson       284.0
5       Dave  Williams       219.0
6     Hannah     Davis       269.0
7       Jack     Smith       284.0
8       Dave   Unknown       262.0
9      Frank     Smith       268.0
10     Carla  Williams       241.0
**************************************************
       FirstName LastName   EmployeeID
count       1000     1000  1000.000000
unique        12       12          NaN
top      Unknown  Unknown          NaN
freq         202      209          NaN
mean         NaN      NaN   336.320000
std          NaN      NaN   921.730886
min          NaN      NaN   200.000000
25%          NaN      NaN   224.000000
50%          NaN      NaN   249.000000
75%          NaN      NaN   273.000000
max          NaN      NaN  9999.000000
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FirstName   1000 non-null   category
 1   LastName    1000 non-null   category
 2   EmployeeID  1000 non-null   float64
dtypes: category(2), float64(1)
memory usage: 10.7 KB
None
**************************************************
The datatypes in the dataframe:
FirstName     category
LastName      category
EmployeeID     float64
dtype: object